{% import "./macros/view-macros.html.twig" as macros %}
<html>

    <head>
        <title>Experts registration</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="row">
            <form class="col s12" id="expertform" action={{path_for('expert_signup')}} method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="firstName" name="first_name" type="text" class="validate" required>
                        <label for="firstName">First name<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="lastName" name="last_name" type="text" class="validate" required>
                        <label for="lastName">Last name<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="affiliation" name="affiliation[primary][name]" type="text" class="validate" required>
                        <label for="affiliation">Affiliation name<font color="red">*</font></label>
                    </div>
                    <div class="input-field col s12">
                        <select id="affiliation_country" name="affiliation[primary][country]" required>
                            <option value="" disabled selected>choose</option>
                            {% for country in _context.countries %}
                                <option value="{{country.CountryCode}}">{{country.CountryName | raw}}</option>
                            {% endfor %}
                        </select>
                        <label for="affiliation_country">Affiliation country<font color="red">*</font></label>
                    </div>
                    <div class="input-field col s12">
                        <input id="affiliation_city" name="affiliation[primary][city]" type="text" class="validate" required>
                        <label for="affiliation_city">Affiliation city<font color="red">*</font></label>
                    </div>
                    <div class="secondaryaffiliationdiv">
                        <div class="input-field col s8">
                            <input class="secondaryaffiliations" name="affiliation[secondary][0]" type="text" class="validate">
                            <label for="secondaryaffiliations">Other affiliation</font></label>
                        </div>
                    </div>
                    <div class="input-field col s4">
                        <a id="addaffiliation" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add</a>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select name="caree_stage" id="careerstage" required>
                            <option value="" disabled selected>choose</option>
                            {% for career_stages in _context.career_stages %}
                                <option value="{{career_stages.Id}}">{{career_stages.CareerStageName | raw}}</option>
                            {% endfor %}
                        </select>
                        <label for="careerstage">Career stage<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">             
                        <input name="birth_year" id="birtyear" type="number" placeholder="birth year" required>
                        <label for="birtyear">When is your birth year?<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">    
                        <select name="gender" required>
                            <option value="" disabled selected>choose</option>
                            <option value="F">female</option>
                            <option value="M">male</option>
                            <option value="O">other</option>
                        </select>
                        <label for="gender">Gender<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">    
                        <select name="languages[]" required multiple>
                            {% for language in _context.languages %}
                                <option value="{{language.LanguageCode}}">{{language.Language}}</option>
                            {% endfor %}
                        </select>
                        <label for="languages">Languages in which you are capable of answering scientific questions<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12"> 
                        <input name="phone_number" id="phonenumber" type="tel" placeholder="number with country code">
                        <label for="phonenumber">Phone number (incl. country code)<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">           
                        <input name="personal_website" id="personalwebsite" type="url" placeholder="website">
                        <label for="personalwebsite">Personal website</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12"> 
                        <input name="personal_linkedin" id="personallinkedin" type="url" placeholder="linkedIn">
                        <label for="personallinkedin">LinkedIn</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12"> 
                        <input name="personal_google_scholar" id="personalgooglescholar" type="url" placeholder="google scholar">
                        <label for="personalgooglescholar">Google Scholar profile</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12"> 
                        <input name="email" id="email" type="email" placeholder="Email address" required>
                        <label for="email">Email address<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" >    
                        <span id="cryosphere_what"/>
                        <label for="cryosphere_what">Which parts of the cryosphere are you comfortable answering questions about?<font color="red">*</font> </label>
                        <br><br>
                        {% for cryosphere_what in _context.cryosphere_what %}
                            <label>
                                <input name="cryosphere_what[{{cryosphere_what.CryosphereWhatName}}]" value="{{cryosphere_what.Id}}" type="checkbox" class="cryosphere_what" required />
                                <span>{{cryosphere_what.CryosphereWhatName}}</span>
                            </label>
                            </br> 
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" >    
                        <span id="cryosphere_where"/>
                        <label for="cryosphere_where">In which general region(s) have you studied the cryosphere?<font color="red">*</font> </label>
                        <br><br>
                        {% for cryosphere_where in _context.cryosphere_where %}

                            <label>
                                <input name="cryosphere_where[{{cryosphere_where.CryosphereWhereName}}]" value="{{cryosphere_where.Id}}" type="checkbox" class="cryosphere_where" required />
                                <span>{{cryosphere_where.CryosphereWhereName}}</span>
                            </label>
                            </br>   
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" >    
                        <span id="cryosphere_what_specefic"/>
                        <label for="cryosphere_what_specefic">Which processes & subdisciplines are you comfortable answering questions about?<font color="red">*</font> </label>
                        <br><br>
                        {% for cryosphere_what_specefic in _context.cryosphere_what_specefic %}

                            <label>
                                <input name="cryosphere_what_specefic[{{cryosphere_what_specefic.CryosphereWhatSpeceficName}}]" value="{{cryosphere_what_specefic.Id}}" type="checkbox" class="cryosphere_what_specefic" required />
                                <span>{{cryosphere_what_specefic.CryosphereWhatSpeceficName}}</span>
                            </label>
                            </br>   
                        {% endfor %}
                    </div>
                </div>



                <div class="row">
                    <div class="input-field col s12" >    
                        <span id="cryosphere_method"/>
                        <label for="cryosphere_method">Which methods are you comfortable answering questions about?<font color="red">*</font> </label>
                        <br><br>
                        {% for cryosphere_method in _context.cryosphere_methods %}
                            <label>
                                <input name="cryosphere_method[{{cryosphere_method.CryosphereMethodsName}}]" value="{{cryosphere_method.Id}}" type="checkbox" class="cryosphere_method" required />
                                <span>{{cryosphere_method.CryosphereMethodsName}}</span>
                            </label>
                            </br>   
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" >    
                        <span id="cryosphere_when"/>
                        <label for="cryosphere_when">Which time periods are you comfortable answering questions about?<font color="red">*</font> </label>
                        <br><br>
                        {% for cryosphere_when in _context.cryosphere_when %}
                            <label>
                                <input name="cryosphere_when[{{cryosphere_when.CryosphereWhenName}}]" value="{{cryosphere_when.Id}}" type="checkbox" class="cryosphere_when" required />
                                <span>{{cryosphere_when.CryosphereWhenName}}</span>
                            </label>
                            </br>   
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label>
                            <input id="termcondition" type="checkbox" class="filled-in" required/>
                            <span>I agree to the terms and conditions<font color="red">*</font></span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <p class="center-align">
                            <button id="submitBtn" class="btn waves-effect waves-light" type="submit" name="action">Sign up
                                <i class="material-icons right">send</i>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <span class="pure-form-message-inline"><font color="red">*</font>required fields</span>
                    </div>
                </div>


            </form>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        {{macros.recaptchaLoad()}}
        <script>
            document.addEventListener("DOMContentLoaded", function () {

                //to initialize materelize forms
                $('select').formSelect();


                var elements = $("input:checkbox");
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].id != "termcondition") {
                        elements[i].oninvalid = function (e) {
                            e.target.setCustomValidity("");
                            if (!e.target.validity.valid) {
                                e.target.setCustomValidity("Please select one or more options.");
                            }
                        };
                        elements[i].oninput = function (e) {
                            e.target.setCustomValidity("");
                        };
                    }
                }
            });

            document.getElementById("email").addEventListener("focusout", function () {
                var email = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: "{{path_for('expert_check_email')}}",
                    data: 'email=' + encodeURIComponent(email),
                    beforeSend: function () {
                    }
                })
                        .done(function (data) {
                            $('#email')[0].setCustomValidity("This email address is already registered!");
                            $('#submitBtn').focus()
                        })
                        .fail(function (errMsg) {
                            $('#email')[0].setCustomValidity("");
                        });
            });

            $('#email').on('click', function () {
                this.setCustomValidity("");
            });


            $(document).ready(function () {
                
                {{macros.recaptchaExecute()}}


                $("#addaffiliation").click(function () {

                    var selectCount = $(this).parent().parent().find(".secondaryaffiliationdiv").length;
                    var selectObj = $(this).parent().parent().find(".secondaryaffiliationdiv").first().clone();
                    selectObj.children().first().find(".secondaryaffiliations").attr('name', 'affiliation[secondary][' + selectCount + ']');
                    selectObj.children().first().find(".secondaryaffiliations").val(null);
                    selectObj.insertBefore($(this).parent());

                });



                $("#expertform").submit(function (event) {

                    /* stop form from submitting normally */
                    event.preventDefault();
                    var recaptchaToken = $(document).data('repactcha-token');

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize() + "&rt=" + recaptchaToken,
                        beforeSend: function () {
                            $('#submitBtn').attr("disabled", "disabled");
                        }
                    })
                            .done(function (data) {
                                document.body.innerHTML = data;
                            })
                            .fail(function (errMsg) {
                                $('#submitBtn').removeAttr("disabled");
                                alert("Something has gone wrong! Please check your entries and try again. If error persists, please contact us. Thank you");
                            });

                });



                $(document).find('.cryosphere_what').change(function () {
                    if ($(document).find('.cryosphere_what').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_what').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_what').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_what_specefic').change(function () {
                    if ($(document).find('.cryosphere_what_specefic').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_what_specefic').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_what_specefic').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_where').change(function () {
                    if ($(document).find('.cryosphere_where').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_where').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_where').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_when').change(function () {
                    if ($(document).find('.cryosphere_when').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_when').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_when').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_method').change(function () {
                    if ($(document).find('.cryosphere_method').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_method').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_method').prop('required', false);
                    }
                });



            });


        </script>
    </div>
</body>

</html>
