<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Expert Approval Page</title>
    </head>
    <body>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">New Expert</th>
                        {% if _context.expert.Approved == false %}

                        <td>Not approved yet!</td>

                    {% else %}
                        <td>Already approved!</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">First Name</th>
                    <td>{{_context.expert.FirstName}}</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>{{_context.expert.LastName}}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td colspan="2">{{_context.expert.Email}}</td>
                </tr>
                <tr>
                    <th scope="row">Gender</th>
                        {% if _context.expert.Gender == "M" %}
                        <td colspan="2">Male</td>
                    {% elseif _context.expert.Gender == "F" %}
                        <td colspan="2">Female</td>
                    {% elseif _context.expert.Gender == "O" %}
                        <td colspan="2">Other</td>
                    {% endif %}
                </tr>
                <tr>
                    <th scope="row">Birth Year</th>
                    <td colspan="2">{{_context.expert.BirthYear}}</td>
                </tr>
                <tr>
                    <th scope="row">Location</th>
                    <td colspan="2">{{(_context.expert_country | first).CountryName}}</td>
                </tr>


                <tr>
                    <th scope="row">Languages</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_language in _context.expert_languages %}
                                <li class="list-group-item">{{expert_language.Language}}
                                {% endfor %}
                        </ul>
                    </td>
                </tr>



                <tr>
                    <th scope="row">Expert Caree Stage</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_career_stage in _context.expert_career_stages %}
                                <li class="list-group-item">{{expert_career_stage.CareerStage.CareerStageName}} 
                                {% endfor %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Primary Affiliation (Name - City - Country)</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{expert_primary_affiliation.PrimaryAffiliationName}} - {{expert_primary_affiliation.PrimaryAffiliationCity}} - {{expert_primary_affiliation.PrimaryAffiliationCountryCode}} </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Secondary Affiliations</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_secondary_affiliation in _context.expert_secondary_affiliation %}
                                <li class="list-group-item">{{expert_secondary_affiliation.SecondaryAffiliationName}} 
                                {% endfor %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Expert What</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_what in _context.expert_what %}
                                {% if expert_what.CryosphereWhat.Approved == true %}
                                    <li class="list-group-item">{{expert_what.CryosphereWhat.Id}} - {{expert_what.CryosphereWhat.CryosphereWhatName}} 
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </td>
                </tr>


                <tr>
                    <th scope="row">Expert What Specific</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_what_specefic in _context.expert_what_specefic %}
                                {% if expert_what_specefic.CryosphereWhatSpecefic.Approved == true %}
                                    <li class="list-group-item">{{expert_what_specefic.CryosphereWhatSpecefic.Id}} - {{expert_what_specefic.CryosphereWhatSpecefic.CryosphereWhatSpeceficName}} 
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </td>
                </tr>


                <tr>
                    <th scope="row">Expert Where</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_where in _context.expert_where %}
                                <li class="list-group-item">{{expert_where.CryosphereWhere.Id}} - {{expert_where.CryosphereWhere.CryosphereWhereName}} 
                                {% endfor %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Expert When</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_when in _context.expert_when %}
                                {% if expert_when.CryosphereWhen.Approved == true %}
                                    <li class="list-group-item">{{expert_when.CryosphereWhen.Id}} - {{expert_when.CryosphereWhen.CryosphereWhenName}} 
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Expert Methods</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_methods in _context.expert_methods %}
                                {% if expert_methods.CryosphereMethods.Approved == true %}
                                    <li class="list-group-item">{{expert_methods.CryosphereMethods.Id}} - {{expert_methods.CryosphereMethods.CryosphereMethodsName}} 
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Contact Info</th>
                    <td colspan="10">
                        <ul class="list-group list-group-flush">
                            {% for expert_contact in _context.expert_contacts %}
                                <li class="list-group-item">{{expert_contact.ContactTypes.ContactType}} : {{expert_contact.ContactInformation}} 
                                {% endfor %}
                        </ul>
                    </td>
                </tr>


            </tbody>
        </table>
        {% if _context.expert.Approved == false %}
            <div class="col-md text-center"> 

                <button type="button" class="expert-approve btn btn-success btn-lg" data-toggle="modal" data-target="#expertapprovemodal">Approve Expert</button>

                <button type="button" class="expert-reject btn btn-danger btn-lg" data-toggle="modal" data-target="#expertrejectmodal">Reject Expert</button>

            </div>
        {% endif %}
        <script>
            console.log({{ _context | json_encode | raw }});
        </script>


        <div class="modal fade" id="expertapprovemodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Are you sure to approve this expert ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="expertName" class="col-sm-2 col-form-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control-plaintext" name="expertName" id="expertName" value="{{_context.expert.FirstName}} {{_context.expert.LastName}}" readonly>
                                </div>
                            </div>

                            <input type="hidden" id="expertID" name="custId" value={{_context.expert.Id}}>
                            <div class="modal-footer ">
                                <button type="button" id="expertapprove" data-posturl="{{path_for('expert_approve')}}" class="btn btn-success btn-lg" style="width: 100%;"></span>Approve Expert</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
        </div>

        <div class="modal fade" id="expertrejectmodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Are you sure to reject the expert ?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="expertName" class="col-sm-4 col-form-label">Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" name="expertName" id="expertName" value="{{_context.expert.FirstName}} {{_context.expert.LastName}}" readonly>
                                </div>
                            </div>

                            <div class="form-group row">

                                <label for="expertName" class="col-sm-10 col-form-label">Explanation for expert:</label>

                                <div class="col-lg-12">
                                    <textarea class="form-control rounded-0" type="text" name="rejectexplanation" id="rejectexplanation" value=""></textarea>
                                </div>
                            </div>

                            <input type="hidden" id="expertID" name="custId" value={{_context.expert.Id}}>
                            <div class="modal-footer ">
                                <button type="button" id="expertreject" class="btn btn-danger btn-lg" data-posturl="{{path_for('expert_reject')}}" style="width: 100%;"></span>Reject Expert</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {


                $("#expertapprove").click(function () {

                    var expertId = "{{_context.expert.Id}}";
                    var token = getUrlParameter('t');

                    if ($('#expertnotapprovable').length) {
                        alert('Please handle the items which are not approved first!');
                        return false;
                    }

                    var postUrl = $(this).data('posturl');

                    if (
                            String(token).trim() == '' ||
                            String(expertId).trim() == '') {
                        alert('Something went wrong! No data has been saved. Please contact the IT Support!');
                        return false;
                    } else {
                        $.ajax({
                            type: 'PUT',
                            headers: {
                                'Token-Authorization-X': `Bearer ${token}`,
                            },
                            url: postUrl,
                            data: 'id=' + expertId,
                            beforeSend: function () {
                                $('.submitBtn').attr("disabled", "disabled");
                                $('.modal-body').css('opacity', '.5');
                            }
                        })
                                .done(function (data) {
                                    location.reload();
                                })
                                .fail(function (errMsg) {
                                    alert('Some problem occurred, please try again and make sure your entries are correct. If problem consists please contact the IT support!');
                                    $('.submitBtn').removeAttr("disabled");
                                    $('.modal-body').css('opacity', '');
                                });
                    }
                });


                $("#expertreject").click(function () {

                    var expertId = "{{_context.expert.Id}}";
                    var token = getUrlParameter('t');

                    var explanation = $(this).parent().parent().find('#rejectexplanation').val();

                    var postUrl = $(this).data('posturl');

                    if (
                            String(token).trim() == '' ||
                            String(expertId).trim() == '')
                    {
                        alert('Something went wrong! No data has been saved. Please contact the IT Support!');
                        return false;
                    } else {
                        $.ajax({
                            type: 'DELETE',
                            headers: {
                                'Token-Authorization-X': `Bearer ${token}`,
                            },
                            url: postUrl,
                            data: 'id=' + expertId + '&explanation=' + encodeURIComponent(explanation),
                            beforeSend: function () {
                                $('.submitBtn').attr("disabled", "disabled");
                                $('.modal-body').css('opacity', '.5');
                            }
                        })
                                .done(function (data) {
                                    window.location.href = "/";
                                })
                                .fail(function (errMsg) {
                                    alert('Some problem occurred, please try again and make sure your enteries are correct. If problem consists please contact the IT support!');
                                    $('.submitBtn').removeAttr("disabled");
                                    $('.modal-body').css('opacity', '');
                                });
                    }
                });

                var getUrlParameter = function getUrlParameter(sParam) {
                    var sPageURL = window.location.search.substring(1),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');

                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                        }
                    }
                };

            });
        </script>







    </body>
</html>