<html>
    <head>
        <title>Fieldwork applicants</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="row">
            <div class="col s12 m12">
                <div class="card cyan lighten-2">
                    <div class="card-content">

                        <span class="card-title">Expedition: {{_context.fieldwork_name | raw}}</span>
                        <br>
                        <div class="row">
                            <div class="col s3">
                                <br><strong>Please select the information seeker(s) of your choice within:</strong>
                            </div>
                            <div class="col s9"><p></p>
                                <div class="announcement-day-countdown"></div>
                            </div>
                        </div>
                        <p>Number of accepted applicants: <strong>{{_context.accepted_applicant_count}}</strong></p>
                        <p>Number of seats left: <strong>{{_context.fieldwork_information_seeker_limit - _context.accepted_applicant_count}}</strong></p>
                        <p>Website: <a href="{{_context.fieldwork_website}}">{{_context.fieldwork_website}}</a></p>
                        <p>Start date: {{_context.fieldwork_start_date | date("F jS\\, Y")}}</p>
                        <p>End date: {{_context.fieldwork_end_date | date("F jS\\, Y")}}</p>
                        <p>Application deadline: {{_context.fieldwork_start_date | date("F jS\\, Y")}}</p>
                        <p>Cost: {{_context.fieldwork_cost}} Euros</p>
                        <p>Results announcement date: {{_context.fieldwork_announcement_deadline | date("F jS\\, Y")}}</p>
                        {% if _context.fieldwork_is_certain == false %}
                            <p style="color:red;"><strong>This fieldwork is set as uncertain. Please edit once dates are certain.</strong></p>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <p class="center-align">
                                <button class="btn modal-trigger waves-effect waves-light orange" name="edit-expedition" data-target="modal-edit-expedition">Edit expedition info
                                    <i class="material-icons right">edit</i>
                                </button>
                                <button class="btn modal-trigger waves-effect waves-light red" name="delete-expedition" data-target="modal-remove-expedition">Delete expedition
                                    <i class="material-icons right">delete_forever</i>
                                </button>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12">
                {% for applicant in _context.applicants %}
                    <div class="row">
                        <div class="card purple lighten-5 hoverable">
                            <div class="card-content black-text">
                                <span class="card-title">Applicant name: {{applicant.Name | raw}}</span>
                                <p>Website: <a href="{{applicant.Website}}">{{applicant.Website}}</a></p>
                                <p>Affiliation: {{applicant.Affiliation | raw}}</p>
                                <p>Affiliation website: <a href="{{applicant.AffiliationWebsite}}">{{applicant.AffiliationWebsite}}</a></p>
                                <p>Application reason: {{applicant.Reasons}}</p>
                                <p>Email: {{applicant.Email}}</p>
                                <p><strong>Requested spots: {{applicant.RequestedSpots}}</strong></p>

                            </div>
                            <div class="card-action">
                                {% if applicant.Accepted == false %}
                                    {#<label>
                                        <input type="checkbox" class="filled-in" required />
                                        <span><font color="black">I agree to the terms and conditions<font color="red">*</font></font></span>
                                    </label>
                                    </p>#}
                                    <div class="row">
                                        <p class="center-align">
                                            <button class="btn waves-effect waves-light green" data-applicantid="{{applicant.Id}}" name="accept-applicant">Accept applicant
                                                <i class="material-icons right">check</i>
                                            </button>
                                            <button class="btn modal-trigger waves-effect waves-light red"  data-target="modal-reject-applicant" name="reject-applicant-modal-toggle" data-applicantid="{{applicant.Id}}">Reject applicant
                                                <i class="material-icons right">close</i>
                                            </button>
                                        </p>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <strong>This applicant is already accepted!</strong>

                                        <i class="right">
                                            <button class="btn-floating btn-medium modal-trigger waves-effect waves-light red"  data-target="modal-reject-applicant" name="reject-applicant-modal-toggle" data-applicantid="{{applicant.Id}}">
                                                <i class="material-icons right">close</i>
                                            </button>
                                        </i>
                                    </div>


                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Modal reject -->
        <div id="modal-reject-applicant" class="modal">
            <div class="modal-content">
                <h4>Are you sure to reject this applicant?</h4><br>
                <p>By proceeding the applicant will be rejected and <strong>permanently</strong> deleted from your expedition list.
                </p>
            </div>
            <div class="modal-footer">
                <button id="withdraw-applicant" class="btn waves-effect waves-light red">remove applicant</button>
            </div>
        </div>

        <!-- Modal remove -->
        <div id="modal-remove-expedition" class="modal">
            <div class="modal-content">
                <h4>Are you sure ?</h4><br>
                <p>By clicking on the 'delete' all of the data on this expedition will be deleted.
                    <br>
                    Once the expedition is deleted the applicants wil be informed by email.</p>
            </div>
            <div class="modal-footer">
                <button id="delete-expedition-forever" class="btn waves-effect waves-light red">Delete expedition</button>
            </div>
        </div>

        <!-- Modal edit -->
        <div id="modal-edit-expedition" class="modal">
            <div class="modal-content">

                <div class="row">
                    <form class="col s12" id="fieldwork_edit_form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="leader_name" name="leader_name" type="text" class="validate" value="{{_context.fieldwork_leader_name | raw}}" required>
                                <label for="leader_name">Expedition leader's full name<font color="red">*</font></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="leader_affiliation" name="leader_affiliation" type="text" value="{{_context.fieldwork_leader_affiliation | raw}}" class="validate" required>
                                <label for="leader_affiliation">Expedition leader's primary affiliation<font color="red">*</font></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="leader_website" name="leader_website" type="url" value="{{_context.fieldwork_leader_website}}" class="validate">
                                <label for="leader_website">Webpage with information about the expedition leader<font color="red">*</font></label>
                                <span class="helper-text">e.g. LinkedIn page - please enter the whole url including http://</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="project_name" name="project_name" type="text" value="{{_context.fieldwork_name | raw}}" class="validate" required>
                                <label for="project_name">Project or expedition name<font color="red">*</font></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="project_website" name="project_website" type="url" value="{{_context.fieldwork_website}}" class="validate">
                                <label for="project_website">Webpage with information about the project or expedition</label>
                                <span class="helper-text">please enter the whole url including http://</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="locations" name="locations" type="text" value="{{_context.fieldwork_locations | raw}}" class="validate" required>
                                <label for="locations">More precise location</label>
                                <span class="helper-text">please separate each location with comma</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="science_goals" name="science_goals" class="materialize-textarea">{{_context.fieldwork_goal | raw}}</textarea>
                                <label for="science_goals">Scientific goal(s) of expedition</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="infomation_seeker_limit" name="infomation_seeker_limit" type="number" min="{{_context.fieldwork_information_seeker_limit}}" value="{{_context.fieldwork_information_seeker_limit}}" class="validate" required>
                                <label for="infomation_seeker_limit">Maximum number of spots available for information seekers<font color="red">*</font></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="infomation_seeker_cost" name="infomation_seeker_cost" type="number" min="0" value="{{_context.fieldwork_cost}}" class="validate" required>
                                <label for="infomation_seeker_cost">Approximate cost per information seeker in Euros<font color="red">*</font></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="package_included" name="package_included" class="materialize-textarea" required>{{_context.fieldwork_cost_inc | raw}}</textarea>
                                <label for="package_included">What would be covered by this cost?<font color="red">*</font></label>
                                <span class="helper-text">For instance travel, accommodation, food, insurance.</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="package_excluded" name="package_excluded" class="materialize-textarea">{{_context.fieldwork_cost_exc | raw}}</textarea>
                                <label for="package_excluded">What would <u>not</u> be covered by this cost?</label>
                            </div>
                        </div>

                        {% if _context.fieldwork_is_certain == false %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <span class="helper-text">Has it become (virtually) certain that the expedition will take place?<font color="red">*</font><br><br></span>
                                    <div class="switch">
                                        <label>
                                            No
                                            <input id="project_certain" name="project_certain" type="checkbox">
                                            <span class="lever"></span>
                                            Yes
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {#<div class="row">
                            <div class="input-field col s12">
                                <label>
                                    <input type="checkbox" required/>
                                    <span>I agree to the terms and conditions<font color="red">*</font></span>
                                </label>
                            </div>
                        </div>#}
                </div>

                <p class="center-align">
                    <button id="edit-expedition-btn" class="btn waves-effect waves-light" type="submit" name="action">Update expedition
                        <i class="material-icons right">edit</i>
                    </button>
                </p>
            </div>
        </form>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.js"></script>

<script>
    {#console.log({{ _context | json_encode | raw }});#}
        $(document).ready(function () {

            var date = new Date('{{_context.fieldwork_announcement_deadline | date}}'); //Month Days, Year HH:MM:SS
            var now = new Date();
            var diff = (date.getTime() / 1000) - (now.getTime() / 1000);
            var clock = $('.announcement-day-countdown').FlipClock(diff, {
                clockFace: 'DailyCounter',
                countdown: true
            });
            $(document).ready(function () {
                $('.modal').modal();
            });
            //accept applicant
            $('button[name=accept-applicant]').click(function () {
                var clickedBut = $(this);
                var fieldworkId = "{{_context.fieldworkId}}";
                var fieldworkLeaderEmail = "{{_context.fieldwork_leader_email}}";
                var token = getUrlParameter('t');
                var applicantId = $(this).data('applicantid');
                var postUrl = "{{path_for('fieldwork_applicant_accept')}}";
                if (
                        String(token).trim() == '' ||
                        String(fieldworkId).trim() == '' ||
                        String(fieldworkLeaderEmail).trim() == '' ||
                        String(applicantId).trim() == '')
                {
                    alert('Something went wrong! Please contact Cryo Connect!');
                    return false;
                } else {
                    $.ajax({
                        type: 'POST',
                        headers: {
                            'Token-Authorization-X': `Bearer ${token}`,
                        },
                        url: postUrl,
                        data: 'e=' + fieldworkLeaderEmail + '&id=' + fieldworkId + '&aph=' + applicantId,
                        beforeSend: function () {
                            clickedBut.attr("disabled", "disabled");
                        }
                    })
                            .done(function (data) {
                                location.reload();
                            })
                            .fail(function (errMsg) {
                                alert('Apologies, an error occurred. Please try again or contact info@cryoconnect.net.');
                                clickedBut.removeAttr("disabled");
                            });
                }
            });

            //reject applicant
            $('button[name=reject-applicant-modal-toggle]').click(function () {
                document.getElementById("withdraw-applicant").dataset.applicantid = $(this).data('applicantid');
            });

            $('#withdraw-applicant').click(function () {
                var fieldworkId = "{{_context.fieldworkId}}";
                var clickedBut = $(this);
                var fieldworkLeaderEmail = "{{_context.fieldwork_leader_email}}";
                var token = getUrlParameter('t');
                var applicantId = $(this).data('applicantid');
                var postUrl = "{{path_for('fieldwork_applicant_reject')}}";
                if (
                        String(token).trim() == '' ||
                        String(fieldworkId).trim() == '' ||
                        String(fieldworkLeaderEmail).trim() == '' ||
                        String(applicantId).trim() == '')
                {
                    alert('Something went wrong! Please contact Cryo Connect!');
                    return false;
                } else {
                    $.ajax({
                        type: 'POST',
                        headers: {
                            'Token-Authorization-X': `Bearer ${token}`,
                        },
                        url: postUrl,
                        data: 'e=' + fieldworkLeaderEmail + '&id=' + fieldworkId + '&aph=' + applicantId,
                        beforeSend: function () {
                            clickedBut.attr("disabled", "disabled");
                        }
                    })
                            .done(function (data) {
                                location.reload();
                            })
                            .fail(function (errMsg) {
                                alert('Apologies, an error occurred. Please try again or contact info@cryoconnect.net.');
                                clickedBut.removeAttr("disabled");
                            });
                }
            });

            //delete expedition
            $("#delete-expedition-forever").click(function () {

                var fieldworkId = "{{_context.fieldworkId}}";
                var fieldworkLeaderEmail = "{{_context.fieldwork_leader_email}}";
                var token = getUrlParameter('t');
                var postUrl = "{{path_for('fieldwork_delete')}}";
                if (
                        String(token).trim() == '' ||
                        String(fieldworkId).trim() == '' ||
                        String(fieldworkLeaderEmail).trim() == '')
                {
                    alert('Something went wrong! Please contact Cryo Connect!');
                    return false;
                } else {
                    $.ajax({
                        type: 'DELETE',
                        headers: {
                            'Token-Authorization-X': `Bearer ${token}`,
                        },
                        url: postUrl,
                        data: 'e=' + fieldworkLeaderEmail + '&id=' + fieldworkId,
                        beforeSend: function () {
                            $('#delete-expedition-forever').attr("disabled", "disabled");
                            $('.modal-remove-expedition').css('opacity', '.5');
                        }
                    })
                            .done(function (data) {
                                M.toast({
                                    html: 'Your expedition has been successfully deleted!',
                                    displayLength: 5000,
                                    completeCallback: function () {
                                        window.location.href = "/"
                                    }
                                });
                            })
                            .fail(function (errMsg) {
                                alert('Apologies, an error occurred. Please try again or contact info@cryoconnect.net.');
                                $('#delete-expedition-forever').removeAttr("disabled");
                                $('.modal-remove-expedition').css('opacity', '');
                            });
                }
            });
            //edit fieldwork subbmit
            $("#fieldwork_edit_form").submit(function (event) {

                /* stop form from submitting normally */
                event.preventDefault();
                var fieldworkId = "{{_context.fieldworkId}}";
                var fieldworkLeaderEmail = "{{_context.fieldwork_leader_email}}";
                var token = getUrlParameter('t');
                var postUrl = "{{path_for('fieldwork_edit')}}";
                var formObject = $(this);
                if (
                        String(token).trim() == '' ||
                        String(fieldworkId).trim() == '' ||
                        String(fieldworkLeaderEmail).trim() == '')
                {
                    alert('Something went wrong! Please contact Cryo Connect!');
                    return false;
                } else {
                    $.ajax({
                        type: 'PUT',
                        headers: {
                            'Token-Authorization-X': `Bearer ${token}`,
                        },
                        url: postUrl,
                        data: formObject.serialize() + '&e=' + fieldworkLeaderEmail + '&id=' + fieldworkId,
                        beforeSend: function () {
                            $('#edit-expedition-btn').attr("disabled", "disabled");
                            $('.modal-edit-expedition').css('opacity', '.5');
                        }
                    })
                            .done(function (data) {
                                location.reload();
                            })
                            .fail(function (errMsg) {
                                alert('Apologies, an error occurred. Please try again or contact info@cryoconnect.net.');
                                $('#edit-expedition-btn').removeAttr("disabled");
                                $('.modal-edit-expedition').css('opacity', '');
                            });
                }

            });
            //form subbmition
            $(".application-submit").submit(function (event) {

                /* stop form from submitting normally */
                event.preventDefault();
                var formObject = $(this);
                $.ajax({
                    type: 'POST',
                    headers: {
                        'Token-Authorization-X': `Bearer {{_context.token}}`,
                    },
                    url: "{{path_for('fieldwork_bid_request_submit')}}",
                    data: formObject.serialize() + "&e={{_context.email}}&ish={{_context.fieldwork_information_seeker_hash}}&fh=" + formObject[0].id,
                    beforeSend: function () {
                        $('.submitBtn').attr("disabled", "disabled");
                        $('.modal-body').css('opacity', '.5');
                    }
                })
                        .done(function (data) {
                            location.reload();
                        })
                        .fail(function (errMsg) {
                            alert('Apologies, an error occurred. Please try again or contact info@cryoconnect.net.');
                            $('.submitBtn').removeAttr("disabled");
                            $('.modal-body').css('opacity', '');
                        });
            });
            //to initialize materelize forms
            $('select').formSelect();
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;
                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };
        });

</script>
