<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Expedition Approval Page</title>
    </head>
    <body>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">New Expedition</th>
                        {% if _context.fieldwork.Approved == false %}

                        <td>Not approved yet!</td>

                    {% else %}
                        <td>Already approved!</td>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Expedition leader name</th>
                    <td>{{_context.fieldwork.FieldworkLeaderName  | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition leader email</th>
                    <td colspan="2">        
                        <a href="mailto:{{_context.fieldwork.FieldworkLeaderEmail}}" target="_top">{{_context.fieldwork.FieldworkLeaderEmail}}</a>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Expedition leader affiliation</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkLeaderAffiliation | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition leader website</th>
                    <td colspan="2"><a href="{{_context.fieldwork.FieldworkLeaderWebsite}}" >{{_context.fieldwork.FieldworkLeaderWebsite}}</a></td>
                </tr>

                <tr>
                    <th scope="row">Expedition name</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkName | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition project website</th>
                    <td colspan="2"><a href="{{_context.fieldwork.FieldworkProjectWebsite}}" >{{_context.fieldwork.FieldworkProjectWebsite}}</a></td>
                </tr>

                <tr>
                    <th scope="row">Expedition cryosphere where</th>
                    <td colspan="2">{{_context.fieldwork_cryosphere_where | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition location(s)</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkLocations | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition start date</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkStartDate|slice(0, 10)}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition end date</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkEndDate|slice(0, 10)}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition science goal</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkGoal | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition information seeker limit</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkInformationSeekerLimit}}</td>
                </tr>

                <tr>
                    <th scope="row">Expedition information seeker cost</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkInformationSeekerCost}}</td>
                </tr>


                <tr>
                    <th scope="row">Cost bidding allowed</th>
                        {% if _context.fieldwork.FieldworkBidingAllowed == false %}

                        <td colspan="2">No</td>

                    {% else %}
                        <td colspan="2">Yes</td>
                    {% endif %}
                </tr>

                <tr>
                    <th scope="row">Cost includes</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkInformationSeekerPackageIncluded | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Cost excludes</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkInformationSeekerPackageExcluded | raw}}</td>
                </tr>

                <tr>
                    <th scope="row">Information seekers application deadline</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkInformationSeekerDeadline|slice(0, 10)}}</td>
                </tr>

                <tr>
                    <th scope="row">Is it certain ?</th>
                        {% if _context.fieldwork.FieldworkIsCertain == false %}

                        <td colspan="2">No, certain at {{_context.fieldwork.FieldworkWhenCertain|slice(0, 10)}}</td>

                    {% else %}
                        <td colspan="2">Yes</td>
                    {% endif %}
                </tr>

                <tr>
                    <th scope="row">Information seekers intake results date</th>
                    <td colspan="2">{{_context.fieldwork.FieldworkInformationSeekerAnnouncementDate|slice(0, 10)}}</td>
                </tr>

            </tbody>
        </table>
        {% if _context.fieldwork.Approved == false %}
            <div class="col-md text-center"> 

                <button type="button" class="fieldwork-approve btn btn-success btn-lg" data-toggle="modal" data-target="#fieldworkapprovemodal">Approve Expedition</button>

                <button type="button" class="fieldwork-reject btn btn-danger btn-lg" data-toggle="modal" data-target="#fieldworkrejectmodal">Reject Expedition</button>

            </div>
        {% endif %}
     {#   <script>
            console.log({{ _context | json_encode | raw }});
        </script>#}


        <div class="modal fade" id="fieldworkapprovemodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to approve this request?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="fieldworkLeaderName" class="col-sm-2 col-form-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control-plaintext" name="fieldworkLeaderName" id="fieldworkLeaderName" value="{{_context.fieldwork.FieldworkLeaderName | raw}}" readonly>
                                </div>
                            </div>

                            <input type="hidden" id="fieldworkID" name="custId" value={{_context.fieldwork.Id}}>
                            <div class="modal-footer ">
                                <button type="button" id="fieldworkapprove" data-posturl="{{path_for('fieldwork_approve')}}" class="btn btn-success btn-lg" style="width: 100%;"></span>Approve Expedition</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
        </div>

        <div class="modal fade" id="fieldworkrejectmodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to reject this request?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="fieldworkLeaderName" class="col-sm-4 col-form-label">Leader name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control-plaintext" name="fieldworkLeaderName" id="fieldworkLeaderName" value="{{_context.fieldwork.FieldworkLeaderName | raw}}" readonly>
                                </div>
                            </div>

                            <div class="form-group row">

                                <label for="rejectexplanation" class="col-sm-10 col-form-label">Explanation for expedition:</label>

                                <div class="col-lg-12">
                                    <textarea class="form-control rounded-0" type="text" name="rejectexplanation" id="rejectexplanation" value=""></textarea>
                                </div>
                            </div>

                            <input type="hidden" id="fieldworkID" name="custId" value={{_context.fieldwork.Id}}>
                            <div class="modal-footer ">
                                <button type="button" id="fieldworkreject" class="btn btn-danger btn-lg" data-posturl="{{path_for('fieldwork_reject')}}" style="width: 100%;"></span>Reject Expedition</button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {


                $("#fieldworkapprove").click(function () {

                    var fieldworkId = "{{_context.fieldwork.Id}}";
                    var token = getUrlParameter('t');

                    if ($('#fieldworknotapprovable').length) {
                        alert('Please handle the items which are not approved first!');
                        return false;
                    }

                    var postUrl = $(this).data('posturl');

                    if (
                            String(token).trim() == '' ||
                            String(fieldworkId).trim() == '') {
                        alert('Something went wrong! No data has been saved. Please contact the IT Support!');
                        return false;
                    } else {
                        $.ajax({
                            type: 'PUT',
                            headers: {
                                'Token-Authorization-X': `Bearer ${token}`,
                            },
                            url: postUrl,
                            data: 'id=' + fieldworkId,
                            beforeSend: function () {
                                $('.submitBtn').attr("disabled", "disabled");
                                $('.modal-body').css('opacity', '.5');
                            }
                        })
                                .done(function (data) {
                                    location.reload();
                                })
                                .fail(function (errMsg) {
                                    alert('Some problem occurred, please try again and make sure your entries are correct. If problem consists please contact the IT support!');
                                    $('.submitBtn').removeAttr("disabled");
                                    $('.modal-body').css('opacity', '');
                                });
                    }
                });


                $("#fieldworkreject").click(function () {

                    var fieldworkId = "{{_context.fieldwork.Id}}";
                    var token = getUrlParameter('t');

                    var explanation = $(this).parent().parent().find('#rejectexplanation').val();

                    var postUrl = $(this).data('posturl');

                    if (
                            String(token).trim() == '' ||
                            String(fieldworkId).trim() == '')
                    {
                        alert('Something went wrong! No data has been saved. Please contact the IT Support!');
                        return false;
                    } else {
                        $.ajax({
                            type: 'DELETE',
                            headers: {
                                'Token-Authorization-X': `Bearer ${token}`,
                            },
                            url: postUrl,
                            data: 'id=' + fieldworkId + '&explanation=' + encodeURIComponent(explanation),
                            beforeSend: function () {
                                $('.submitBtn').attr("disabled", "disabled");
                                $('.modal-body').css('opacity', '.5');
                            }
                        })
                                .done(function (data) {
                                    window.location.href = "/";
                                })
                                .fail(function (errMsg) {
                                    alert('Some problem occurred, please try again and make sure your enteries are correct. If problem consists please contact the IT support!');
                                    $('.submitBtn').removeAttr("disabled");
                                    $('.modal-body').css('opacity', '');
                                });
                    }
                });

                var getUrlParameter = function getUrlParameter(sParam) {
                    var sPageURL = window.location.search.substring(1),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;

                    for (i = 0; i < sURLVariables.length; i++) {
                        sParameterName = sURLVariables[i].split('=');

                        if (sParameterName[0] === sParam) {
                            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                        }
                    }
                };

            });
        </script>







    </body>
</html>