<!DOCTYPE html>
<html>
    <head>
        <title>Experts Sign-up</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <body>
        
            <form id="expertform" action={{path_for('expert_signup')}} method="post">
                
                    <div class="form-group">
                        <label for="cryosphere_what">Which parts of the cryosphere are you comfortable answering questions about?* </label>
                        <div id="cryosphere_what">
                            {% for cryosphere_what in _context.cryosphere_what %}

                                <input name="cryosphere_what[{{cryosphere_what.CryosphereWhatName}}]" class="cryosphere_what" type="checkbox" value="{{cryosphere_what.Id}}" required>{{cryosphere_what.CryosphereWhatName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cryosphere_where">In which general region(s) have you studied the cryosphere?*</label>
                        <div id="cryosphere_where">
                            {% for cryosphere_where in _context.cryosphere_where %}
                                <input name="cryosphere_where[{{cryosphere_what.CryosphereWhereName}}]" type="checkbox" class="cryosphere_where" value="{{cryosphere_where.Id}}" required>{{cryosphere_where.CryosphereWhereName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cryosphere_what_specefic">Which processes & subdisciplines are you comfortable answering questions about?*</label>
                        <div id="cryosphere_what_specefic">
                            {% for cryosphere_what_specefic in _context.cryosphere_what_specefic %}
                                <input name="cryosphere_what_specefic[{{cryosphere_what_specefic.CryosphereWhatSpeceficName}}]" class="cryosphere_what_specefic" type="checkbox" value="{{cryosphere_what_specefic.Id}}" required>{{cryosphere_what_specefic.CryosphereWhatSpeceficName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cryosphere_method">Which methods are you comfortable answering questions about?</label>
                        <div id="cryosphere_method">
                            {% for cryosphere_method in _context.cryosphere_methods %}
                                <input name="cryosphere_method[{{cryosphere_method.CryosphereMethodsName}}]" type="checkbox" class="cryosphere_method" value="{{cryosphere_method.Id}}" required>{{cryosphere_method.CryosphereMethodsName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cryosphere_when">Which time periods are you comfortable answering questions about?*</label>
                        <div id="cryosphere_when">
                            {% for cryosphere_when in _context.cryosphere_when %}
                                <input name="cryosphere_when[{{cryosphere_when.CryosphereWhatName}}]" type="checkbox" class="cryosphere_when" value="{{cryosphere_when.Id}}" required>{{cryosphere_when.CryosphereWhenName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="languages">Languages in which you are capable of answering scientific questions*</label>
                        <div id="languages">
                            <select name="languages[1]" style="width: 13em" required>
                                <option disabled selected value>Choose 1st language </option>
                                {% for language in _context.languages %}
                                    <option value="{{language.LanguageCode}}">{{language.Language}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <select name="languages[2]" style="width: 13em">
                                <option disabled selected value>Choose 2nd language </option>
                                {% for language in _context.languages %}
                                    <option value="{{language.LanguageCode}}">{{language.Language}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <select name="languages[3]" style="width: 13em">
                                <option disabled selected value>Choose 3rd language </option>
                                {% for language in _context.languages %}
                                    <option value="{{language.LanguageCode}}">{{language.Language}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="birtyear">When is your birth year?*</label>
                        <input name="birth_year" id="birtyear" type="number" placeholder="birt year" required>
                    </div>

                    <div class="form-group">
                        <label for="careerstage">Career stage*</label>
                        <select name="caree_stage" id="careerstage" required>
                            <option disabled selected value> Choose </option>
                            {% for career_stages in _context.career_stages %}
                                <option value="{{career_stages.Id}}">{{career_stages.CareerStageName}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="affiliation">Affiliations (name*, country*, city, secondry affliations) </label>
                        <div>
                            <input name="affiliation[primary][name]" id="affiliation" type="text" placeholder="primary affiliation" required>
                            <br>
                            <select name="affiliation[primary][country]" id="primaryaffiliationcountry" required>
                                <option disabled selected value> Choose </option>
                                {% for country in _context.countries %}
                                    <option value="{{country.CountryCode}}">{{country.CountryName}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <input name="affiliation[primary][city]" id="primaryaffiliationcity" type="text" placeholder="City of primary affiliation">
                            <br>
                            <input name="affiliation[secondry][name]" id="secondryaffiliations" type="text" placeholder="other affiliation (seperated by comma)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phonenumber">Phone number (incl. country code)*</label>
                        <input name="phone_number" id="phonenumber" type="tel" placeholder="number with country code">
                    </div>

                    <div class="form-group">
                        <label for="personalwebsite">Personal Website</label>
                        <input name="personal_website" id="personalwebsite" type="url" placeholder="website">
                    </div>

                    <div class="form-group">
                        <label for="personallinkedin">Linkedin</label>
                        <input name="personal_linkedin" id="personallinkedin" type="url" placeholder="linkedin">
                    </div>

                    <div class="form-group">
                        <label for="personalgooglescholar">Google Scholar profile</label>
                        <input name="personal_google_scholar" id="personalgooglescholar" type="url" placeholder="google scholar">
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name="email" id="email" type="email" placeholder="Email Address" required>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name*</label>
                        <input name="first_name" id="firstName" type="text" placeholder="First Name" required>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name*</label>
                        <input name="last_name" id="lastName" type="text" placeholder="Last Name" required>
                    </div>

                    <div class="form-group">
                        <label for="gender">Gender*</label>
                        <select name="gender" style="width: 13em" required>
                            <option disabled selected value>Choose</option>
                            <option value="F">female</option>
                            <option value="M">male</option>
                            <option value="O">other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="cb" class="checkbox">
                            <input id="cb" type="checkbox" required> I agree to the terms and conditions
                        </label>

                        <button type="submit" id="submitBtn" class="pure-button pure-button-primary">Sign up</button>
                    </div>
                    <span class="pure-form-message-inline">*required fields</span>
               
            </form>
        


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                $('#email').change(function () {
                    var email = $(this).val();
                    $.ajax({
                        type: 'POST',
                        url: "{{path_for('expert_check_email')}}",
                        data: 'email=' + encodeURIComponent(email),
                        beforeSend: function () {
                            $('#submitBtn').attr("disabled", "disabled");
                        }
                    })
                            .done(function (data) {
                                $('#submitBtn').attr("disabled", "disabled");
                                alert("This email address is already registered!");
                                $('#submitBtn').focus()
                            })
                            .fail(function (errMsg) {
                                $('#submitBtn').removeAttr("disabled");
                            });
                });

                $("#expertform").submit(function (event) {

                    /* stop form from submitting normally */
                    event.preventDefault();

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        beforeSend: function () {
                            $('#submitBtn').attr("disabled", "disabled");
                        }
                    })
                            .done(function (data) {
                                BootstrapDialog.show({
                                    title: "You have been registered!",
                                    message: function (dialogRef) {
                                        $mydata = $($.parseHTML(data));
                                        return $mydata;
                                    },
                                    onshow: function (dialog) {



                                    },
                                    onshown: function (dialog)
                                    {
                                        // event after shown

                                    },
                                    onhide: function (dailog)
                                    {
                                        window.location.href = "/";
                                    }
                                });
                            })
                            .fail(function (errMsg) {
                                $('#submitBtn').removeAttr("disabled");
                                alert("Something has gone wrong! Please check your enteries and try again. If error presists, please contact us. Thank you");
                            });

                });



                $(document).find('.cryosphere_what').change(function () {
                    if ($(document).find('.cryosphere_what').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_what').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_what').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_what_specefic').change(function () {
                    if ($(document).find('.cryosphere_what_specefic').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_what_specefic').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_what_specefic').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_where').change(function () {
                    if ($(document).find('.cryosphere_where').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_where').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_where').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_when').change(function () {
                    if ($(document).find('.cryosphere_when').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_when').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_when').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_method').change(function () {
                    if ($(document).find('.cryosphere_method').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_method').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_method').prop('required', false);
                    }
                });



            });


        </script>
    </div>
</body>

</html>
