<!DOCTYPE html>
<html>
    <head>
        <title>Experts Sign-up</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">



        <style>
            
            .pure-form select {
                width: 215px;
            }
            .pure-form-aligned .pure-control-group label {
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                width: 20em;
                margin: 0 1em 0 0;
            }

            .success-button {
                background: rgb(28, 184, 65);
                color: white;
                border-radius: 5px;
                margin-top: 2px;
            }

            hr.hrform {
                border-top: 3px double #8c8b8b;
                width: 555px;
                margin-left: 0;
            }
        </style>
        
    </head>
    <body>
        <div id="formpage" style="text-align:centre">
            <form class="pure-form pure-form-aligned" id="expertform" action={{path_for('expert_signup')}} method="post">
                <fieldset>

                    <div class="pure-control-group">
                        <label for="firstName">First name<font color="red">*</font></label>
                        <input name="first_name" id="firstName" type="text" placeholder="First name" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="lastName">Last name<font color="red">*</font></label>
                        <input name="last_name" id="lastName" type="text" placeholder="Last name" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="affiliation">Affiliations (name<font color="red">*</font>, country<font color="red">*</font>, city, secondary affliations) </label>
                        <div class="pure-u">
                            <input name="affiliation[primary][name]" id="affiliation" type="text" placeholder="name of primary affiliation" required>
                            <br>
                            <select name="affiliation[primary][country]" id="primaryaffiliationcountry" required>
                                <option disabled selected value> choose </option>
                                {% for country in _context.countries %}
                                    <option value="{{country.CountryCode}}">{{country.CountryName}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <input name="affiliation[primary][city]" id="primaryaffiliationcity" type="text" placeholder="city of primary affiliation">
                            <br>
                            <input name="affiliation[secondary][0]" class="secondaryaffiliations" type="text" placeholder="other affiliation">
                            <br>
                            <button type="button" id="addaffiliation" class="pure-button success-button">add affiliation</button>
                        </div>
                    </div>


                    <div class="pure-control-group">
                        <label for="careerstage">Career stage<font color="red">*</font></label>
                        <select name="caree_stage" id="careerstage" required>
                            <option disabled selected value> choose </option>
                            {% for career_stages in _context.career_stages %}
                                <option value="{{career_stages.Id}}">{{career_stages.CareerStageName}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="pure-control-group">
                        <label for="birtyear">When is your birth year?<font color="red">*</font></label>
                        <input name="birth_year" id="birtyear" type="number" placeholder="birt year" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="gender">Gender<font color="red">*</font></label>
                        <select name="gender" required>
                            <option disabled selected value>choose</option>
                            <option value="F">female</option>
                            <option value="M">male</option>
                            <option value="O">other</option>
                        </select>
                    </div>

                    <div class="pure-control-group">
                        <label for="languages">Languages in which you are capable of answering scientific questions<font color="red">*</font></label>
                        <div class="pure-u" id="languages">
                            <select name="languages[0]" required>
                                <option disabled selected value>choose</option>
                                {% for language in _context.languages %}
                                    <option value="{{language.LanguageCode}}">{{language.Language}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <button type="button" id="addlanguage" class="pure-button success-button">add language </button>
                        </div>
                    </div>  

                    <div class="pure-control-group">
                        <label for="phonenumber">Phone number (incl. country code)<font color="red">*</font></label>
                        <input name="phone_number" id="phonenumber" type="tel" placeholder="number with country code">
                    </div>

                    <div class="pure-control-group">
                        <label for="personalwebsite">Personal website</label>
                        <input name="personal_website" id="personalwebsite" type="url" placeholder="website">
                    </div>

                    <div class="pure-control-group">
                        <label for="personallinkedin">LinkedIn</label>
                        <input name="personal_linkedin" id="personallinkedin" type="url" placeholder="linkedIn">
                    </div>

                    <div class="pure-control-group">
                        <label for="personalgooglescholar">Google Scholar profile</label>
                        <input name="personal_google_scholar" id="personalgooglescholar" type="url" placeholder="google scholar">
                    </div>

                    <div class="pure-control-group">
                        <label for="email">Email address<font color="red">*</font></label>
                        <input name="email" id="email" type="email" placeholder="Email address" required>
                    </div>

                    <hr class="hrform">

                    <div class="pure-control-group">
                        <label for="cryosphere_what">Which parts of the cryosphere are you comfortable answering questions about?<font color="red">*</font> </label>
                        <div class="pure-u" id="cryosphere_what">
                            {% for cryosphere_what in _context.cryosphere_what %}

                                <input name="cryosphere_what[{{cryosphere_what.CryosphereWhatName}}]" class="cryosphere_what" type="checkbox" value="{{cryosphere_what.Id}}" required > {{cryosphere_what.CryosphereWhatName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pure-control-group">
                        <label for="cryosphere_where">In which general region(s) have you studied the cryosphere?<font color="red">*</font></label>
                        <div class="pure-u" id="cryosphere_where">
                            {% for cryosphere_where in _context.cryosphere_where %}
                                <input name="cryosphere_where[{{cryosphere_what.CryosphereWhereName}}]" type="checkbox" class="cryosphere_where" value="{{cryosphere_where.Id}}" required >{{cryosphere_where.CryosphereWhereName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pure-control-group">
                        <label for="cryosphere_what_specefic">Which processes & subdisciplines are you comfortable answering questions about?<font color="red">*</font></label>
                        <div class="pure-u" id="cryosphere_what_specefic">
                            {% for cryosphere_what_specefic in _context.cryosphere_what_specefic %}
                                <input name="cryosphere_what_specefic[{{cryosphere_what_specefic.CryosphereWhatSpeceficName}}]" class="cryosphere_what_specefic" type="checkbox" value="{{cryosphere_what_specefic.Id}}" required >{{cryosphere_what_specefic.CryosphereWhatSpeceficName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pure-control-group">
                        <label for="cryosphere_method">Which methods are you comfortable answering questions about?<font color="red">*</font></label>
                        <div class="pure-u" id="cryosphere_method">
                            {% for cryosphere_method in _context.cryosphere_methods %}
                                <input name="cryosphere_method[{{cryosphere_method.CryosphereMethodsName}}]" type="checkbox" class="cryosphere_method" value="{{cryosphere_method.Id}}" required >{{cryosphere_method.CryosphereMethodsName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="pure-control-group">
                        <label for="cryosphere_when">Which time periods are you comfortable answering questions about?<font color="red">*</font></label>
                        <div class="pure-u" id="cryosphere_when">
                            {% for cryosphere_when in _context.cryosphere_when %}
                                <input name="cryosphere_when[{{cryosphere_when.CryosphereWhatName}}]" type="checkbox" class="cryosphere_when" value="{{cryosphere_when.Id}}" required >{{cryosphere_when.CryosphereWhenName}}</input>
                                <br>
                            {% endfor %}
                        </div>
                    </div>



                    <div class="pure-controls">
                        <label for="termcondition" class="pure-checkbox">
                            <input id="termcondition" type="checkbox" required> I agree to the terms and conditions
                        </label>

                        <button type="submit" id="submitBtn" class="pure-button pure-button-primary">Sign up</button>
                    </div>
                    <span class="pure-form-message-inline"><font color="red">*</font>required fields</span>
                </fieldset>
            </form>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var elements = $("input:checkbox");
                for (var i = 0; i < elements.length; i++) {
                    if (elements[i].id != "termcondition") {
                        elements[i].oninvalid = function (e) {
                            e.target.setCustomValidity("");
                            if (!e.target.validity.valid) {
                                e.target.setCustomValidity("Please select one or more options.");
                            }
                        };
                        elements[i].oninput = function (e) {
                            e.target.setCustomValidity("");
                        };
                    }
                }
            });

            document.getElementById("email").addEventListener("focusout", function () {
                var email = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: "{{path_for('expert_check_email')}}",
                    data: 'email=' + encodeURIComponent(email),
                    beforeSend: function () {
                    }
                })
                        .done(function (data) {
                            $('#email')[0].setCustomValidity("This email address is already registered!");
                            $('#submitBtn').focus()
                        })
                        .fail(function (errMsg) {
                            $('#email')[0].setCustomValidity("");
                        });
            });

            $('#email').on('click', function () {
                this.setCustomValidity("");
            });


            $(document).ready(function () {

                $("#addlanguage").click(function () {

                    var selectCount = $(this).parent().find("select").length;
                    var selectObj = $(this).parent().find("select").first().clone();
                    selectObj.attr('name', 'languages[' + selectCount + ']');
                    selectObj.selectedIndex = 0;
                    selectObj.prop('required', false);
                    selectObj.insertBefore($(this));
                    $('<br />').insertBefore($(this));
                });

                $("#addaffiliation").click(function () {

                    var selectCount = $(this).parent().find(".secondaryaffiliations").length;
                    var selectObj = $(this).parent().find(".secondaryaffiliations").first().clone();
                    selectObj.attr('name', 'affiliation[secondary][' + selectCount + ']');
                    selectObj.val(null);
                    selectObj.insertBefore($(this));
                    $('<br />').insertBefore($(this));
                });



                $("#expertform").submit(function (event) {

                    /* stop form from submitting normally */
                    event.preventDefault();

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        beforeSend: function () {
                            $('#submitBtn').attr("disabled", "disabled");
                        }
                    })
                            .done(function (data) {
                                document.body.innerHTML = data;
                            })
                            .fail(function (errMsg) {
                                $('#submitBtn').removeAttr("disabled");
                                alert("Something has gone wrong! Please check your enteries and try again. If error persists, please contact us. Thank you");
                            });

                });



                $(document).find('.cryosphere_what').change(function () {
                    if ($(document).find('.cryosphere_what').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_what').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_what').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_what_specefic').change(function () {
                    if ($(document).find('.cryosphere_what_specefic').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_what_specefic').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_what_specefic').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_where').change(function () {
                    if ($(document).find('.cryosphere_where').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_where').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_where').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_when').change(function () {
                    if ($(document).find('.cryosphere_when').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_when').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_when').prop('required', false);
                    }
                });

                $(document).find('.cryosphere_method').change(function () {
                    if ($(document).find('.cryosphere_method').filter(':checked').length < 1) {
                        $(document).find('.cryosphere_method').prop('required', true);
                    } else {
                        $(document).find('.cryosphere_method').prop('required', false);
                    }
                });



            });


        </script>
    </div>
</body>

</html>
